<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - NODE.js</title>
    <link rel="stylesheet" href="./public/css/login.css">
</head>
<body>
    <section class="container">
        <div class="login-container">
            <div class="form-container">
                <h1 class="opacity">LOGIN</h1>
                <form method="post">
                    <input type="text" name="login" placeholder="USERNAME" />
                    <input type="password" name="password" placeholder="PASSWORD" />
                    <input type="submit" class="opacity" placeholder="ENTER">
                </form>
            </div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>
</html>